#wrapper,
#keyhandler,
#zoom,
#pan,
#viewport,
#nodes,
#background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

#viewport {
}

#pan {
}

#zoom {
}

#viewport-content {
  background-image: radial-gradient(#88888830 1px, transparent 0);
  background-size: 10px 10px;
  background-position: -20px -20px;
}

.top_strip {
  width: 100%;
  height: 4px;
}

.node {
  position: absolute;
}

.child_node,
.node:not(.board) {
  background-color: var(--df_block_color);
  border: 1px solid var(--bg);
}

.child_container_hover {
  border: 2px dashed white;
}
