.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* if it is a child node */
.board.child_node {
  flex-direction: row;
  justify-content: start;
  padding: 5px;
  padding-left: 10px;
}

.board_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board_text {
  margin-top: 10px;
  margin-bottom: 5px;
}
.board_text_child {
  align-self: flex-start;
  margin-bottom: 5px;
}

.board_content {
  color: grey;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
