:root {
  --bg: #0b061b;
  --bg2: #4121a8;
  --fg: #ffffff;

  /*
  #2b00e8
  #fae476
  #0b061b
  */

  --border: #ffffff90;
  --active: #ff4800;
  --inactive2: #ffffff50;
  --inactive: #ffffff10;

  --df_block_color: #2b00e8;
}
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fg);
}

html {
  height: 100%;
  font-size: 12px;
  /* FONT STYLE HERE */
}

body,
#root {
  width: 100%;
  height: 100%;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}

#center {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 50px);
}

/*** Top bar *****************************************************/

#topbar {
  width: 100%;
  height: 50px;

  padding: 10px;

  border-bottom: 2px solid var(--border);

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

#breadcrumb {
  display: flex;
  flex-direction: row;
}

.breadcrumb_path {
  padding: 5px;
  border: 1px solid var(--border);
  background-color: var(--inactive);
  transition: 0.1s ease-out;
  border-radius: 5px;
}
.active_breadcrumb_path:hover {
  background-color: var(--inactive2);
}

.spacer {
  align-self: center;
  margin: 0 4px;
  color: var(--fg);
}

/*** Side bar *****************************************************/

#sidebar {
  width: 50px;
  height: 100%;
  border-right: 2px solid var(--border);
}
/*** Main *****************************************************/

#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/********************************************************/

.block {
  position: absolute;
  background-color: var(--df_block_color);
  border: 1px solid var(--bg);
}
