@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://ui.shadcn.com/themes */
@theme {
  --color-background: oklch(0.141 0.005 285.823);
  --color-foreground: oklch(0.985 0 0);
  --color-card: oklch(0.21 0.006 285.885);
  --color-card-foreground: oklch(0.985 0 0);
  --color-popover: oklch(0.21 0.006 285.885);
  --color-popover-foreground: oklch(0.985 0 0);
  --color-primary: oklch(0.646 0.222 41.116);
  --color-primary-foreground: oklch(0.98 0.016 73.684);
  --color-secondary: oklch(0.274 0.006 286.033);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.274 0.006 286.033);
  --color-muted-foreground: oklch(0.705 0.015 286.067);
  --color-accent: oklch(0.274 0.006 286.033);
  --color-accent-foreground: oklch(0.985 0 0);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: oklch(0.646 0.222 41.116);
  --color-chart-1: oklch(0.488 0.243 264.376);
  --color-chart-2: oklch(0.696 0.17 162.48);
  --color-chart-3: oklch(0.769 0.188 70.08);
  --color-chart-4: oklch(0.627 0.265 303.9);
  --color-chart-5: oklch(0.645 0.246 16.439);
  --color-sidebar: oklch(0.21 0.006 285.885);
  --color-sidebar-foreground: oklch(0.985 0 0);
  --color-sidebar-primary: oklch(0.646 0.222 41.116);
  --color-sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --color-sidebar-accent: oklch(0.274 0.006 286.033);
  --color-sidebar-accent-foreground: oklch(0.985 0 0);
  --color-sidebar-border: oklch(1 0 0 / 10%);
  --color-sidebar-ring: oklch(0.646 0.222 41.116);
}

/********************************************************/

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
  /* FONT STYLE HERE */
  font-family: "Times New Roman", Times, serif;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

body,
#root {
  width: 100%;
  height: 100%;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.child_container_hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}
/*for hen you exit animation*/
.column {
  transition: opacity 0.3s ease-out;
}

/*? works the same without it but if anything happens this might be the issue*/
/*
#wrapper,
#eventhandler,
#zoom,
#pan,
#nodes,
#background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
*/

.top_strip {
  width: 100%;
  height: 4px;
}
/*grid pattern*/
#viewport-content {
  background-image: radial-gradient(#88888830 1px, transparent 0);
  background-size: 10px 10px;
  background-position: -20px -20px;
}
.node {
  position: absolute;
}
.child_node,
.node:not(.board) {
  background-color: #151515;
  border: 1px solid var(--color-background);
}

.selected_node {
  border: 2px solid white !important;
}
